* {
  box-sizing: border-box;
}

header {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  font-size: 23px;
  font-family: 'Fjalla One', sans-serif;
}

.start-page {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.question-page, .results-page, .end-page {
  text-align: center;
}

.question, .start-page, .results-page, .end-page {
  border: 3px solid black;
  width: 70%;
  margin: 0 auto 30px auto;
  padding: 20px;
}

input, button {
  height: 40px;
  width: 120px;
  font-family: 'Russo One', sans-serif;
}

.results-page h2 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

label {
  display: block;
  font-size: 25px;
}

p .final-title {
  /*font-size: 35px;*/
}

body {
  font-family: 'Fjalla One', sans-serif;
}

@media screen and (max-width: 450px) {
  label {
    font-size: 18px;
  }
  .start-page {
    font-size: 15px;
  }
  .question, .start-page, .results-page, .end-page {
    width: 85%;
  }
  .results-page h2 {
    font-size: 20px;
  }
  input, button {
    height: 33.3px;
    width: 100px;
  }
  h1 {
    font-size: 23px;
  }
}

@media screen and (max-width: 700px) and (min-width: 450px) {
  h1 {
    font-size: 35px;
  }
  label {
    font-size: 20px;
  }
  .question, .start-page, .results-page, .end-page {
    width: 77%;
  }
}


/*------------------restart quiz buttoon effects---------------*/
/*
.hover {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

}
.hover:hover, .hover:focus, .hover:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border: 1px solid lightblue;
}

*/


/*----------------Bowie button effects----------------*/
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255,0,255,0.3) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(255,0,255,0.3) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


/*-------------Byrne button effects----------------*/


@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
